html, body
	width: 100%


#nav-container
	border: 1px solid black
	width: 90%
	margin: 0 auto
	padding: 15px
	display: flex
	align-items: center
	justify-content: space-around

#title-container
	width: 90%
	margin: 0 auto

#unwatched, #watched
	border: 1px solid black
	display: inline
	padding: 5px 65px

#title-container h1
	padding-bottom: 10px

.selected
	background-color: lightgray

.container-fluid
	width: 90%
	margin: 0 auto